<section id="about" class="about">
    <div class="about-row"> 
        <div class="col-sm-2">
            <img class="about-img" src="/assets/images/nano_cubes.png">
        </div>
        <div class="col-sm-2">
            <div class="about-text">
            <p>
                <b>INASCON</b> (<b>I</b>nternational <b>NA</b>noscience <b>S</b>tudent <b>CON</b>ference) is an annual conference
        organized by students for students and will take place in Munich, Germany. This years' motto “Nano Input – Macro
        Impact: Energy Materials for a Sustainable Future” of INASCON2022 combines chemical, physical, biological and
        technological research on nanoscale materials to create innovative ideas and solutions for a greener future.
        INASCON unites young nano-scientists in their Master studies and PhDs from around the world, allowing them to
        exchange ideas and form connections in interdisciplinary nanoscience topics at an early stage of their career.
        The schedule of the four-days conference includes talks of prominent researchers as well as students in the
        categories Intelligent Storage Materials, Photo- & Electrocatalysis, Photovoltaics & Optoelectronics and
        Nano-Biophysics, as well as poster sessions, social events, an opportunity fair and interactive workshops.
            </p>
        </div>
        </div>
        <div class="col-sm-2">
            <li> 2022 The sixteenth INASCON will be held in Germany. </li>
<li> 2021 The fifteenth INASCON was held in Israel. </li>
<li> 2020 The fourteenth INASCON was held in Sweden. </li>
<li> 2019 The thirteenth INASCON was held in China. </li>
<li> 2018 The twelfth INASCON was held in Norway. </li>
<li> 2017 The eleventh INASCON was held in the UK. </li>
<li> 2016 The tenth INASCON was held in the Netherlands. </li>
<li> 2015 The ninth INASCON was held in Switzerland. </li>
<li> 2014 The eighth INASCON was held in Denmark. </li>
<li> 2013 The seventh INASCON was held in England. </li>
<li> 2012 The sixth INASCON was held in Germany. </li>
<li> 2011 The fifth INASCON was held in Denmark. </li>
<li> 2010 The fourth INASCON was held in the Netherlands. </li>
<li> 2009 The third INASCON was held in Switzerland. </li>
<li> 2008 The second INASCON was held in Denmark. </li>
<li> 2007 The first INASCON was held in Denmark. </li>
        </div>
        <div class="col-sm-2">
            <img class="about-img" src="/assets/images/MAP_INASCON.jpg">
        </div>
    </div>
</section>