<!-- Begin of Form -->
<section id="location" class="location">
    <div class="about-text">
        <h3>Registration Form INASCON 2023</h3>
        <p>
             We are very pleased that you have decided to sign up for INASCON 2023 in the beautiful city of Basel from 22nd to 25th of August. 
             Hit the button below to register for the event!
        
             <a href="https://form.jotform.com/230431299876364">
                    <button class="reg_button"> Click here to register for INASCON 2023!<br/></button>
             </a>
        
        </p>
  </div>
</section>
<!-- End of Form -->
