<!-- Begin Schedule Section -->
<section id="location" class="location">
    <p class="nebeneinanderrechts">
        The International Nanoscience Student Conference (INASCON) started in 2007 in Denmark as a small student conference. Since then, several european countries hosted the INASCON and in 2019 it was hosted in China and 2021 in Israel.<br>
    </p> 
    <img class="nebeneinanderrechts" src = "/assets/images/MAP_INASCON.jpg">
    <img class="nebeneinanderlinks" src = "/assets/images/munich_1.jpg">
    <p class="nebeneinanderrechts">
        INASCON2022 will take place in beautiful <b>Munich</b>, Germany. Munich is the capital of the southern German state of Bavaria. This city is located near the Alps, which can be seen from the city in good, cloudless weather.
        Munich is characterized by historical buildings, numerous museums and cultural institutions and large parks, such as the English Garden. On the edge of this park is also our venue in the buildings of the Ludwig-Maximilians-University (LMU) Munich.<br>
    </p>      
</section>
<!-- End Schedule Section -->