.counter{
    background-color: white ;
    border: 1px;
    border-color: #ED207E;
    color: #ED207E; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    white-space: normal;
    line-height: 100%;
}
