.nebeneinanderlinks{
    display: inline-block;
    width:48%;
    margin-right: 2%;
    text-align: justify;
    margin-bottom: auto;
}
.nebeneinanderrechts{
    display: inline-block;
    width:48%;
    text-align: justify;
}
.location{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5pt;
}